
/* Inicio de tipgrafías */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,500&display=swap');


/* Final de tipgrafías */
* {    margin: 0;
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Inicio de Header */
 
.principal-header {
    background-color:fafafa ;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-text, .shopping-cart-button{
    margin-left: 100px;
    margin-right: 100px;
}


.shopping-cart-icon {
    margin-right: 15px;
}

.shopping-cart-button {
    display: flex;
}


.headercontainer-image {
    background: url(./img/RollerSkateShop.png);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: rgb(255, 236, 199);
   
}

/* ============ Inicio de seccion principal =========*/

.main-section {
   
    display: flex;
    padding-top: 50px;
    background-color: rgb(252, 241, 255);
    
}

/* Inicio de estilo para los filtros */

.filter-container {
    
    flex-grow: 1; 
    display: flex;
    padding: 50px;
    flex-direction: column;
    flex-basis: 700px;
    font-size: 12px;
  
    
    
}

.filter-tittle {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 18px;
   
}

.filter-checkbox {
    margin-top: 2px;
}

.review-stars-container, .categories {
    margin-top: 20px;
   
}

.review {
    margin-top: 2px;

}

.fa-star {
    color: #D65CFF; 
}


/* Final de estilo para los filtros */


/* Inicio de estilo para los productos*/
.product-container {
 
    
    flex-grow: 6;
    padding-top: 40px;

   
}

.item-view {

    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    padding-left: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;

 
}

.item-view > p {
    font-size: 14px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}


.product-card {
   
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    height: 300px;
    margin-bottom: 50px;

}

.article-tittle {
   
}

.article-price{
    margin: 10px;
}


.article-rating{
    margin: 10px;
}

.card-button > button {
    border-radius: 4px;
    background-color: #c2a9c9;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
        
      
     
}



/* Inicio de estilo para los productos*/
/* Inicio de footer*/
footer {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


/*  ============ Inicio del carrito ============ */


.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 0;
    right: 0;
    
    
}
.menu-cart {
    
    height: 100vh;
    background-color: rgb(251, 242, 255);
    position: absolute;
    top: 0;
    right: 0;
    
}

.cart-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.cart-main-text > h1 {
    font-size: 30px;
    color: mediumblue;
}

.cart-image {
    height: 150px;
}

.hidden {
    display: none;
}



/*  ============ final del carrito ============ */


/*  ============================ inicio del formulario de compra ============ */


.shopping-form {
    height: 500px;
    width: 500px;
    background-color: #fafafa;
    border-radius: 10px;
    
}